body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}



.container {    
   
    width: 100%;
    max-width: 1920px;
 
    padding: 0 75px;
    margin: 0 auto;

}

/* Header */

.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 47px;
    font-weight: 700;
    color:white;

    padding-left: 15px;

}


.header__menu {
    
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;

    padding-right: 100px;

}   

.menu__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: white;
    text-decoration: none;

    transition: color 0.1s linear;

}

/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;   

    background:
    url(../../Krean/pictures/1.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;

}

.intro__suptitle {
    margin-top: 220px;
    margin-bottom: 20px;

    
    font-size: 72px;
    font-weight: bold;
    color: #fff;

}

.intro__title {
    color: #fff;    
    font-size: 40px;
    font-weight: 700;
    line-height: 1;

}

.intro__mouse {
    padding-top: 200px;
    text-align: center;
    


}

/* Services */

.services__top {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.services__title {
    padding-top: 155px ;
    font-size: 60px;
    font-weight: bold;
    color: black;
}

.services__subtitle {
    
    font-size: 30px;
    color: #787878;
    

}

.services__subtitle:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto ;

    background: black;

}

.services__item {
    margin-top: 100px;
    display: flex;    
    flex: 3;
    


}

.services__inner {
    margin-right: 50px;
    
    height: 655px;
    width: 500px;

}

.services__photo {
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
}

.services__title__one {
    margin-bottom: 90px;
    display: flex;
    justify-content: center;

    font-size: 45px;
    font-weight: bold;
    color: #787878;

}

.button__one {
    display: flex;
    justify-content: center;

    

}
.services__button {
    margin-top: 50px;
    margin-bottom: 130px;
    font-size: 16px;
    color: white;
    padding: 15px 40px;

    border-radius: 30px;

        
    display: inline-block;
    vertical-align: top;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.button--red {
    background-color: #534993;
}

.button--red {  
    height: 60px;  
    width: 280px;
}

/* Works */

.container__bg {
    
    margin-bottom: 100px;
}

.works {
    font-size: 30px;
    color: #8c8c8c;
    text-align: center;

}

.works:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto ;

    background: black;

    margin-bottom: 100px;

}

.works__inner {
    display: flex;
    flex: 3;

}

.works__column__one {
    display: flex;
    flex-direction: column;
}

.works__column__one__first {
    width: 450px;
    height: 450px;
    background-color: black;

    margin-bottom: 33px;
    margin-right: 15px;
}

.works__column__one__second {
    width: 450px;
    height: 450px;
    background-color: green;

    margin-top: 32px;
    margin-bottom: 33px;
}

.works__column__one__third {
    width: 450px;
    height: 450px;
    background-color: blue;

    margin-top: 32px;
}

.works__column__two {
    display: flex;
    flex-direction: column;
}

.works__column__one__forth {
    width: 450px;
    height: 450px;
    background-color: red;

    margin-bottom: 32px;
    margin-right: 15px;
    margin-left: 15px;
}

.works__column__one__five {
    width: 450px;
    height: 965px;

    background-color: brown;

    margin-top: 33px;
    margin-left: 15px;
    
}

.works__column__one__six {
    position: relative;

    width: 450px;
    height: 965px;

    background-color: cornflowerblue;

    margin-bottom: 33px;
    margin-left: 15px;
}

.column__title {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    font-size: 30px;
    font-weight: bold;
    color: white;

    margin-bottom: 60px;
    margin-left: 30px;

    

}

/* .column__text {
    position:absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    font-size: 30px;
    color: white;
} */

.works__column__one__seven {
    width: 450px;
    height: 450px;
    background-color:darkkhaki;

    margin-top: 63px;
    margin-left: 15px;

}

/* References */

.references {
    display: flex;
    flex: 2;
    
}

.references__title {
    font-size: 30px;
    color: #8c8c8c;
    text-align: center;

}

.references__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto ;

    background: black;

    margin-bottom: 100px;

}

.references__inner {
    display: flex;
    flex: 2;


}

.references__inner__left{
    padding-right: 30px;
}
.references__inner__right__tittle {
    
    font-size: 45px;
    font-weight: bold;
    color: black;

    padding-top: 70px;
    padding-left: 30px;

   
}

.references__inner__right__text {
    padding-top: 30px;

    font-size: 25px;
    color: #5f5f5f;

    padding-left: 30px;
}

/* Logos */
.logos {
    display: flex;
    justify-content: space-between;
    align-content: center;

    padding-top: 60px;
    padding-bottom: 50px;

}

.container__one {    
    /* height: 100vn; */
    width: 100%;
    max-width: 1920px;
 
    padding: 0 75px;
    margin: 0 auto;

    background-color: black;

}

/* Contact */

.contact__title {
   
    font-size: 30px;
    font-weight: bold;
    color: white;

    text-align: center;

    padding-bottom: 100px;
    padding-top: 100px;

}

.contact__inner {
    display: flex;
    flex: 2;

    

}

.container__inner__left {
    padding-left: 150px;
    padding-right: 50px;
    display: flex;
    justify-content: space-around;

}

.name {
    font-size: 21px;
    color: #7d7d7d;
   

}

.email {
    font-size: 21px;
    color: #7d7d7d;
   

}

.message {
    font-size: 21px;
    color: #7d7d7d;
   

}

.name:after {
    content: "";
    display: block;
    width: 500px;
    height: 2px;
    margin: 30px auto ;

    background: white;

    margin-bottom: 100px;

}

.email:after {
    content: "";
    display: block;
    width: 500px;
    height: 2px;
    margin: 30px auto ;

    background: white;

    margin-bottom: 100px;

} 

.contact__inner__bottom {
    display: flex;
    flex-direction: 1;

}

.message {
    padding-left: 150px;

}

.message:after {
    content: "";
    display: block;
    width: 1050px;
    height: 2px;
    margin: 30px auto ;

    background: white;

    margin-bottom: 100px;

} 

.button__two {
    display: flex;
    justify-content: center;

    

}

.services__button {
    margin-top: 50px;
    margin-bottom: 130px;
    font-size: 30px;
    color: white;
    padding: 15px 40px;

    border-radius: 0px;

        
    display: inline-block;
    vertical-align: top;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.button--grey {
    background-color: #202020;
}

.button--grey {  
    height: 80px;  
    width: 200px;
}