body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}



.container {    
   
    width: 100%;
    max-width: 1920px;
 
    padding: 0 75px;
    margin: 0 auto;

}

/* Header */

.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 47px;
    font-weight: 700;
    color:white;

    padding-left: 15px;

}


.header__menu {
    
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;

    padding-right: 100px;

}   

.menu__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: white;
    text-decoration: none;

    transition: color 0.1s linear;

}

/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;   

    background:
    url(../pictures/1.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;

}

.intro__suptitle {
    margin-top: 220px;
    margin-bottom: 20px;

    
    font-size: 72px;
    font-weight: bold;
    color: #fff;

}

.intro__title {
    color: #fff;    
    font-size: 40px;
    font-weight: 700;
    line-height: 1;

}

.intro__mouse {
    padding-top: 200px;
    text-align: center;

}

/* Services */

.services__top {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.services__title {
    padding-top: 155px ;
    font-size: 60px;
    font-weight: bold;
    color: black;
}

.services__subtitle {
    
    font-size: 30px;
    color: #787878;   

}

.services__subtitle:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto ;

    background: black;

}

.services__item {
    margin-top: 100px;
    max-width: 100%;
   
    display: flex;    
    /* flex: 1; */
    
}

.services__inner {
    flex: 1;
    padding-right: 50px;
    width: 33.33333%;
    
    /* height: 655px;
    width: 500px; */

}

.services__photo {
    /* max-width: 100%;
    max-height: 100%; */
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
}

.photo {
    max-width: 100%;
    max-height: 100%;
}

.services__title__one {
    margin-bottom: 90px;
    display: flex;
    justify-content: center;

    font-size: 45px;
    font-weight: bold;
    color: #787878;

}

.button__one {
    display: flex;
    justify-content: center;

    

}
.services__button {
    margin-top: 50px;
    margin-bottom: 130px;
    font-size: 16px;
    color: white;
    padding: 15px 40px;

    border-radius: 30px;

        
    display: inline-block;
    vertical-align: top;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.button--red {
    background-color: #534993;
}

.button--red {  
    height: 60px;  
    width: 280px;
}

.services__button__two {
    margin-top: 50px;
    margin-bottom: 130px;
    font-size: 30px;
    color: white;
    padding: 15px 40px;

    border-radius: 0px;

        
    display: inline-block;
    vertical-align: top;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.button--grey {
    background-color: #202020;
}

.button--grey {  
    height: 80px;  
    width: 200px;
}

/* Works */

.container__bg {
    
    margin-bottom: 100px;
}

.works {
    
    font-size: 30px;
    color: #8c8c8c;
    text-align: center;

}

.works:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto ;

    background: black;

    margin-bottom: 100px;

}

.works__inner {
    display: flex;
}


.column__one {
    flex: 1;

    padding-right: 35px;
}

.column__two {
    flex: 1;
    padding: 0 35px

}

.column__three{
    flex: 1;
    padding-left: 35px;
    
}

.column__one__item {
    height: 450px;
   
    background-color: red;

}

.column_row {
    margin-bottom: 30px;
    height: 450px;
}
.column_row.tall {
    height: 930px;
}

.column__two__item {
    height: 450px;
        
    background-color: black;


}


.column__three__item {
    position: relative;
    height: 450px;
    margin-bottom: 30px;
    
    background-color: blue;

}

.column__title {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    font-size: 30px;
    font-weight: bold;
    color: white;

    margin-bottom: 60px;
    margin-left: 30px;    

}


/* References */

.references {
    display: flex;
    flex: 1;
    
}

.references__title {
    font-size: 30px;
    color: #8c8c8c;
    text-align: center;

}

.references__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto ;

    background: black;

    margin-bottom: 100px;

}

.references__inner {
    position: relative;
    display: flex;
    /* flex: 1; */

    /* width: 25%; */

    

}

.references__inner__left {
    flex: 1;
    padding-right: 30px;
    
    margin-left: 100px;

    height: 490px;
    width: 490px;

    background-image: url(../pictures/References/1.jpg);
    background-image: no-repeat;
    
    
    

    
}

.references__inner__right {
    flex: 1;
}

.references__inner__right__tittle {
    
    font-size: 45px;
    font-weight: bold;
    color: black;

    padding-top: 70px;
    padding-left: 30px;
   
}

.arrows__inner {
    
    height: 80px; 
    width: 35px; 
    margin: 0 10px;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
    transition: all .5s ease;
}


.arrow__left {
    position: absolute;
    left: 0;
    top: 200px;
    z-index: 1;        
    
    height: 67px;
    width: 27px;
    

    background-image: url(../pictures/References/left.png);
    
} 

.arrows__inner-arrow._right {
    position: absolute;
    right: 0;
    top: 200px;
    z-index: 1;

    margin-left: 50px;
    height: 67px;
    width: 27px;
    

    background-image: url(../pictures/References/right.png);
    
}

.references__inner__right__text {
    padding-top: 30px;
    padding-right: 70px;

    font-size: 25px;
    color: #5f5f5f;

    padding-left: 30px;
}

/* Logos */

.logos {
    display: flex;
    justify-content: space-between;
    align-content: center;

    padding-top: 60px;
    padding-bottom: 50px;

}

.logos__item {
    flex: 1;
   
}

.logos__pic {
    max-width: 100%;

}

/* Container */

.container__one {       
    width: 100%;   
 
    padding: 0 75px;
    margin: 0 auto;

    background-color: black;

}


/* Contact */

.contact__title {   
    font-size: 30px;
    font-weight: bold;
    color: white;

    text-align: center;

    padding-bottom: 100px;
    padding-top: 100px;

}

.contact__inner {    
    
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;

    padding-bottom: 40px;

}

.container__inner__left,
.container__inner__right,
.container__inner__bottom  {
    flex: 1px;
    padding: 0 15px;
    

}

.input:focus {
    outline: none;
}

.input {
    font-size: 21px;
    height: 50px;
    /* width: 400px; */
    color: white;
    font-weight: 400;
    border: none;
    

    background-color: black;
}

.inner__border {
    border-bottom: 1px solid #fff;
    padding-left: 15px;
}


.textarea {
    font-size: 21px;
    text-align: left;

    height: 50px;
    /* width: 800px; */
    color: white;

    border: 0;

    background-color: black;
}

.message {
    
    display: flex;
    justify-content: center;
    font-size: 33px;
    color: #7d7d7d;    

}
 

.button__two {
    display: flex;
    justify-content: center;

}

/* Footer */

.footer {
    background-color: #3a3168;

}

.footer__name {
    font-size: 47px;
    font-weight: bold;
    color: white;

}

.footer__inner {
    display: flex;
    justify-content: center;
    padding: 70px 0;
    display: flex;
    flex-wrap:nowrap;

}

.footer__block {
    display: flex;
    flex-direction: column;
    width: 35.33333%;
    padding: 0 15px;

    text-align: center;

}
.footer__block__one {
    display: flex;
    flex-direction: column;
}

.footer__block__two {
    display: flex;

}

.footer__block__img {
    display: flex;
    flex-direction: row;
}

.footer__title {
    margin-bottom: 10px;

    font-size: 15px;
    font-weight:bold;
    color: white;

}

.footer__title__right {    
    margin-left: 35px;
    font-size: 12px;
    font-weight: lighter;
    color: white;
    

}

.footer__adress {
    font-size: 17px;
    font-weight: bold;
    line-height: 1.5;
    font-style: normal;
    color: white;

}

.footer_text {
    font-size: 14px;
    line-height: 1.5;
    
    color: rgba(255, 255, 255, 0.5);
}

.footer__email {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 40px;
    margin-right: 4px;
    
}

.footer__phone {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 40px;
    margin-right: 4px;

}

/* Social */

.social {
    display: flex;
}

.social--footer {
    justify-content: center;

}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin-right: 4px;

    transition: background 0.1s linear;
}

.social__item:hover {
    background-color: #e8ecee;
}


.social__item:hover .social__icon {

    fill: #000;
}

.social__icon {
    fill: #c6cacc;
    display: block;
    height: 25px;

}

.social--footer .social__icon {
    fill: white;
}
